@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', serif;
  color: var(--pr11-color-6);
}

:root {
  --pr11-color-1: #2f8dff;
  --pr11-color-2: #fcd01f;
  --pr11-color-3: #124831;
  --pr11-color-4: #5cb85c;
  --pr11-color-5: #000000;
  --pr11-color-6: #ffffff;
}
body {
  background-image: url(https://res.cloudinary.com/dpqksttwy/image/upload/v1735923515/Casa%20de%20Dios/466985767_18046869188088892_2048179974415648131_n_fnufop.jpg);
  background-position: top 25% center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(155, 190, 194, 0.57);
  background-blend-mode: overlay;
  background-attachment: fixed;
}
